
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

section {
    padding: 100px 120px;
}

.banner {
    position: relative;
    min-height: 100vh;
    background: url(rapids.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner h2 {
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}
.banner h2 span {
    font-size: 1.5em;
    font-weight: 700;
}
.banner h3 {
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}
.banner .bgCitation {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
    color: #fff;
    filter: opacity(40%);
    font-size: x-small;
}

.btn {
    position: relative;
    background: #54A3BF;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.5s;
}
.btn:hover {
    background: #ACB4B4;
}

header.sticky .logo:hover, header.sticky ul li a:hover {
    color: #ACB4B4;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky {
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0 1px 20px rgba(0,0,0,0.1);
}
header .logo {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
header.sticky .logo {
    color: #111;
}
header ul {
    position: relative;
    display: flex;
    list-style-type: none;
}
header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}
header.sticky ul li a {
    color: #111;
}

.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}
.heading h2 {
    font-size: 30px;
    font-weight: 600;
}

.content {
    display: flex;
    justify-content: space-between;
}
.contentBox {
    padding-right: 50px;
    min-width: 50%;
}
.contentBox h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
.contentBox p {
    line-height: 1.6;
}

.about {
    background-color: #fff;
    background-size: cover;
}
.about .content .selfie {
    max-width: 400px;
}

img {
    max-width: 100%;
}

.work, .smartphone, .duocalendar {
    background-color: #ACB4B4;
}
.work .heading {
    color: #fff;
    border-bottom: 3px solid #fff;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}
.work .content, .building {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.work .content .workBox {
    position: relative;
    color: #fff;
    width: 480px;
    height: 350px;
    margin: 2px;
    text-align: center;
    transition: 0.5s;
    overflow: hidden;
}
.work .content .workBox img {
    position: relative;
    filter: opacity(70%);
    transition: 0.5s;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.work .content .workBox img:hover {
    filter: opacity(100%);
    background: #222;
}
.work .content .workBox .name {
    position: absolute;
    top: 66%;
    left: 5%;
    color: #fff;
    background: rgba(0,0,0,.3);
    font-size: 1.5em;
    width: 90%;
    text-align: center;
}

.contact {
    background: white;
}
.contact .content {
    max-width: 50%;
    margin: auto;
}
.contact .content .contactBox {
    padding-bottom: 3px;
    margin: 0 30px;
    width: 12%;
    transition: 0.3s;
    border-bottom: 5px solid white;
}
.contact .content .contactBox:hover {
    border-bottom: 5px solid #ACB4B4;
}

.whitebggreen {
    border-bottom: 3px solid #ACB4B4;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}
.colouredbg {
    border-bottom: 3px solid #eee;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

.backbtn, header.sticky .backbtn, header.sticky .tuimenu li a:hover, .tuimenu li.active a {
    font-weight: bold;
    color: #44809E;
}

/* tui projects */
.tuibanner {
    background: url(arduino.jpg); /* https://pxhere.com/en/photo/665497 */
    background-size: cover;
    height: 100vh;
}
.tuibanner .textbox, .hcibanner .textbox {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 60%;
    color: #fff;
    background-color: rgba(0,0,0,0);
}
.tuibanner .textbox h2, .hcibanner .textbox h2 {
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
    margin-bottom: 20px;
}
.tuibanner .textbox ul, .hcibanner .textbox ul {
    margin-top: 20px;
    padding-left: 3em;
}

.tuibanner .textbox ul {
    list-style-type: decimal;
}

.tuicontent h3 {
    margin-top: 2em;
}
.tuicontent p {
    line-height: 1.6;
}

.building .step {
    max-width: 50vh;
}
.building .step .stepimg, .building .step video {
    height: 35vh;
    width: 50vh;
    margin: auto;
    padding: 20px 10px 0 10px;
}
.building .step h5 {
    text-align: center;
    overflow-wrap: break-word;
}
.finalimg img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    max-width: 50vh;
}
.finalimg h5 {
    text-align: center;
}
.codelinks li {
    margin-left: 3em;
}

.finalvideo video {
    display: block;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
.finalvideo h4 {
    text-align: center;
}
.brainstorm {
    display: flex;
}
.brainstorm .entry{
    max-width: 50%;
    max-height: 35%;
    margin: 10px auto 15px auto;
}
.brainstorm .entry h5 {
    text-align: center;
}
.materials {
    display: block;
}
.materialslist {
    margin-left: 3em;
    columns: 3;
}
/* .materialslist li {
    float: left;
    width: 33.3%;
} */
.circuitschematic {
    max-height: 80vh;
    display: block;
    margin: 10px auto 0 auto;
}

.whitebgblue {
    border-bottom: 3px solid #44809E;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

.altcolourlink {
    color: #febd69;
}

.babymobile, .wilson {
    background: #44809E;
}

/* hci */
.hcibanner {
    background: url(prototyping.jpg); /* https://pixabay.com/photos/ux-prototyping-design-webdesign-788002/ */
    background-size: cover;
    height: 100vh;
}

/* RESPONSIVE */
@media (max-width: 991px){
    header, header.sticky {
        padding: 20px 50px;
        z-index: 1000;
    }
    .menu {
        position: fixed;
        top: 70px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0,0,0,.2);
    }
    .menu.active {
        left: 0;
    }
    header ul li a {
        color: #111;
        font-size: 24px;
        margin: 10px;
    }
    .toggle {
        width: 40px;
        height: 40px;
        background: url(menu.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
        filter: invert(1);
    }
    .toggle.active {
        background: url(close.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
        filter: invert(1);
    }
    header.sticky .toggle {
        filter: invert(0);
    }
    section {
        padding: 100px 50px;
    }
    .banner {
        padding: 150px 50px 100px;
    }
    .banner h2 {
        font-size: 2.5em;
    }
    .banner h3 {
        font-size: 1.2em;
    }
    .btn {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
    }

    .heading h2 {
        font-size: 24px;
    }
    .contentBox h3 {
        font-size: 20px;
    }
    .content {
        flex-direction: column;
    }
    .content p {
        margin-bottom: 20px;
    }
    .content .selfie {
        width: 100%;
        margin: auto;
    }

    .work .content .workBox {
        width: 100%;
        padding: 10px;
    }

    .contact .content {
        flex-direction: row;
    }
    .contact .content .contactBox {
        padding: 0 5px 3px 5px;
        margin: 0;
        width: 35%;
    }

    .about .heading {
        width: 40%;
    }
    .work .heading {
        width: 40%;
    }
    .contact .heading {
        width: 40%;
    }

    .finalvideo video {
        max-width: 100%;
    }
    .materialslist li {
        float: left;
        width: 100%;
    }
}

@media (max-width: 600px){
    header, header.sticky {
        padding: 20px 30px;
    }
    .banner {
        padding: 150px 30px 100px;
    }
    section {
        padding: 100px 30px;
    }
}